body {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  background-color: #111;   
  color: #ddd;             
  margin: 0;
  padding: 0;
  text-align: center;
}


.main-header {
  background-color: #34f504;  
  color: #ffffff;
  padding: 15px 0;
}

.main-header h1 {
  font-size: 4rem;
  font-weight: 1000;
  margin: 0;
  letter-spacing: 3px;
}


.content {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
}

h2 {
  color: #04df9d;          
  margin-top: 40px;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  color: #ccc;
  margin-top: 10px;
}

.project-card {
  display: block;                
  border: 2px solid #04df9d;
  border-radius: 10px;
  padding: 25px;
  margin-top: 30px;
  transition: 0.3s;
  cursor: pointer;
  background-color: #111;             
  text-decoration: none;         
}

.project-card:hover {
  background-color: #090909;
}

.project-card h3 {
  color: #04df9d;
  margin-bottom: 10px;
}


footer a {
  outline: none;         
  text-decoration: none; 
}
