h1 {
	color: rgb(255, 255, 255);
	font-size: 40px;
	font-weight: 500;
    background: linear-gradient(270deg, #33a946, #1456ca, #33a946);
    text-align: center;
}

p {
	font-family: "Times New Roman", Arial, Helvetica;
}


body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
	background-color: #451c83;
	color: #ffffff;
}

a {
	text-decoration: none;
	background: rgb(182, 156, 244);
	color: white;

	
}
