h1 {
	color: rgb(255, 255, 255);
	font-size: 40px;
	font-weight: 500;
    background: linear-gradient(to right, #4512d2, #7109da);
    text-align: center;
}

p {
	font-family: "Times New Roman", Arial, Helvetica;
}


body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
	background-color: #451c83;
	color: #ffffff;
}

a {
	text-decoration: none;
	background: rgb(175, 148, 237);
	color: white;
}
